html {
    font-family: sans-serif;
}

table {
    width: 100%;
    height: 80%;
}

th {
    font-size: 5ex;
    background-color: #d9d9d9;
}

ul {
    list-style-type: none;
    background-color: #b0fff3;
    padding: 0;
}

li {
    background-color: #a9fe30;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20%;
    text-align: center;
}
