html {
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
    margin: 1%;
}

aside {
    margin: 1%;
    display: flex;
    align-items: center;
}

table {
    width: 100%;
    height: 80%;
}

td {
    width: 33%;
}

th {
    font-size: 5ex;
    background-color: #d9d9d9;
}

tr {
    background-color: #b0fff3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #a9fe30;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    word-break: keep-all;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.modal-overlay {
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 166, 166, 0.6);
    top: 0;
    left: 0;
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    width: 30%;
    padding: 10px;
    margin-top: 20%;
}

#close-creator {
    float: right;
    cursor: pointer;
}

.delete-item {
    float: right;
    color: #fe1d1d;
    cursor: pointer;
}
